html {
  height: 100%;
}

body {
  min-height: 90vh;
  margin: 0;
  text-align: center;
  font-family: Consolas, sans-serif;
  background: #2F3640;
  color: #3b6eef;
}

* {
  margin: 0 auto;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin flex-r-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@mixin flex-c-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@mixin flex-r-fs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
@mixin flex-c-fs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
